/* NAME:Nithin Kumar Chappala            ID:1002041883 */
/* NAME:Irrinki Bala Sai Sreemannarayana ID:1002058899: */
/* NAME:Pranav Rayapati                  ID:1002077440 */
/* NAME:Teja Sankara                     ID:1002033648 */
/* NAME:Sai Kalyan Vanama                ID:1002082553 */


.services{
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2rem;
}
.service{
  width: 100%;
  margin-bottom: 1rem;
}
.service img{
  width: 50%;
  height: 28rem;
}
.service h3{
  font-size: 2rem;
  color: #F0A70F;
}
.service p{
  font-size: 1.3rem;
}
@media only screen and (min-width: 768px) {
  .service{
    display: flex;
  
  }
  .service div{
    padding: 1rem;
  }
}