/* NAME:Nithin Kumar Chappala            ID:1002041883 */
/* NAME:Irrinki Bala Sai Sreemannarayana ID:1002058899: */
/* NAME:Pranav Rayapati                  ID:1002077440 */
/* NAME:Teja Sankara                     ID:1002033648 */
/* NAME:Sai Kalyan Vanama                ID:1002082553 */

.b-search {
  display: flex;
  justify-content: center;
  width: 100%;
}
.b-search h3 {
  margin-top: 2rem;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #f0a70f;
  text-align: center;
}

.b-search input {
  font-size: 1.1rem;
  border: solid #dddddd;
  padding: 0.7rem 1rem;
  width: 50%;
  border-radius: 0.5rem;
}
.search-manager {
  display: flex;
  justify-content: center;
}

.search-manager button {
  width: 20%;
  border: 2px solid #001c3d;
  background-color: #001c3d;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
}
.search-manager button:hover {
  background-color: white;
  color: #001c3d;
}
.search-details {
  width: 80%;
}
.b-search div {
  width: 100%;
}

.table {
  display: flex;
  justify-content: center;
  margin-top: 1.2rem;
}

table {
  width: 95%;
  border-collapse: collapse;
}
th {
  background-color: #dddddd;
  /* height: 2rem; */
  font-weight: 700;
}

th,
td {
  text-align: left;
  /* padding: 5px; */
  border: 1px solid #dddddd;
}

.b-add-form-form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
}
form {
  width: 100%;
}
.b-add-form-form h4 {
  font-size: 2rem;
  color: #f0a70f;
  text-align: center;
}
.b-add-form-form label {
  font-size: 1rem;
  text-align: center;
}
.b-add-form-form input {
  border: none;
  border-bottom: 3px solid black;
  width: 100%;
}
.b-add-form-send-btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.b-add-form-send-btn button {
  border: none;
  background-color: #f0a70f;
  width: 100%;
  border-bottom: 2px solid black;
  font-size: 1rem;
  padding: 0.4rem 0rem;
}

.b-add-form-links {
  line-height: 3;
  text-align: center;
  font-size: 1rem;
}

.back-to-login-btn {
  padding: 0.5rem 0.3rem;
  background-color: #001c3d;
  color: white;
  font-weight: 600;
  margin-top: 1rem;
  text-decoration: none;
}
.bottom {
  padding-bottom: 1.2rem;
}

@media only screen and (min-width: 768px) {
  .b-add-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .b-add-form-form,
  .b-add-form-welcome-state {
    width: 70%;
    height: 73vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .b-add-form-form div {
    width: 90%;
    padding-left: 1rem;
  }
}
