/* NAME:Nithin Kumar Chappala            ID:1002041883 */
/* NAME:Irrinki Bala Sai Sreemannarayana ID:1002058899: */
/* NAME:Pranav Rayapati                  ID:1002077440 */
/* NAME:Teja Sankara                     ID:1002033648 */
/* NAME:Sai Kalyan Vanama                ID:1002082553 */



.b-dashboard h3{
  font-size: 1.8rem;
  font-weight: 800;
  text-align: center;
  padding-block: 1rem;
  color: #F0A70F;
}

.box{
  width: 70%;
  height: 8rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.box h5{
  font-size: 1.5rem;
  color: white;
  font-weight: 700;
  text-align: center;
}
.box p{
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1rem;

} 
.box1{
  background-color: #F0A70F;
}
.box2{
  background-color: #001C3D;
  color: #F0A70F;
}

@media only screen and (min-width: 768px) {
  .boxes{
    display: grid;
    width: 100%;
    grid-template-columns: 25% 25% 25% 25%;
  }
  .box{
    width: 23rem;
  }
}